<h1>Welcome to Battle!</h1>
<h3>Please enter the names of the players</h3>

<div>
  <form action="/names" method="post">
    <input type="text" name="player1" value="Player 1">
    <input type="text" name="player2" value="Player 2">
    <input type="submit" value="submit">
  </form>
</div>

<iframe src="//giphy.com/embed/XqsNK3sWk2CNq" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/pokemon-pokegraphic-gif-XqsNK3sWk2CNq">via GIPHY</a></p>