<html>
<head>
	<title>Battle Start</title>
</head>
<body>
	<form action="/names" method="POST">
		<input type="Text" name="Player1" placeholder="Player 1">
		<input type="Text" name="Player2" placeholder="Player 2">
		<input type="submit" id="Submit" value="Let the battle begin">
	</form>
</body>
</html>
