<html>

<head>
  <title>Battle!</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="main_wrapper">
    <img src="./images/title.png"/><br>
    <br>
    <h1 style="color: #FFF"><%= @status %> </h1>

    <a href="/" style="color:#FFFF00">Play again?</a>
  </div>
</body>
