<html>

<head>
  <title>Battle!</title>
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>
  <div class = "screen">
    <div class = "left_wrapper">
      <div class = "message_container">Kenneth got hit!</div>
      <div class = "active_player">Toby</div>
      <img src="https://media.giphy.com/media/VizM8JHar4kJW/giphy.gif" style ="width=auto; max-height: 300px"/>

    </div>
    <div class = "right_wrapper">
      <div class="opponent_wrapper">
        <div class="opponent_data">
          <div class="inactive_player">Kenneth
            <div class="inactive_player_button">poisoned</div>
            <div class="inactive_player_button">asleep</div>
            <div class="inactive_player_button">paralyzed</div>



          </div>
          <div class="hp_bar"></div>


        </div>




        <div class="opponent_creature"><img src="http://rs421.pbsrc.com/albums/pp291/nin10dogirl/pikachu.gif~c200" style ="width=auto; max-height: 160px"/></div>





      </div>
      <div class = "hp_bar">hp</div>
      <div class = "buttons">
        <div class = "attack_button">Attack</div>
        <div class = "attack_button">Poison</div>
        <div class = "attack_button">Sleep</div>
        <div class = "attack_button">Heal</div>

      </div>


    </div>
  </div>

</body>

</html>
