<html>
<head>
	<title>Battle!</title>
</head>
<body style="font-family: Arial">
<h1>	<%= @Player_1 %> vs. <%= @Player_2 %> </h1>
<div><%= session[:Player1] %> 100</div>
<div><%= session[:Player2] %> 100</div>
</body>
</html>
