<h1> Congratulations! <%=@game.active_player.name%> has won the game! </h1>

<iframe src="//giphy.com/embed/l0K468nwdxa5ULKN2" width="480" height="292" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/pokemon-sun-moon-l0K468nwdxa5ULKN2">via GIPHY</a></p>